spring:
  config:
    activate:
      on-profile: dev

  application:
    name: ces-3

  datasource:
    url: jdbc:h2:mem:devdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  h2:
    console:
      enabled: true
      path: /h2-console
