spring:
  config:
    activate:
      on-profile: prod
  application:
    name: ces-3

  datasource:
    url: "${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/ces3}"
    username: "${SPRING_DATASOURCE_USERNAME:root}"
    password: "${SPRING_DATASOURCE_PASSWORD:escaes}"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

  flyway:
    enabled: false
    baseline-on-migrate: false
    locations: "classpath:db/migration"

